doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include css/avatar.css
            include css/reset.css
            include css/style.css
        title MZ Talk
    body
        header
            h1 MZ Talk
        main
            #avatar
                h2 아바타 설정 화면으로 갑니다.
                button 아바타 설정

        script(src="/socket.io/socket.io.js") 
        script(src="../public/js/app.js") 
        script(src="../public/js/video.js")